body {
    background-color: aqua;
    width: 100%;
    height: 100%;
}

hr {
    border-color: black;
}

#header {
    background-color: green;
    text-align: center;
    border: 1px solid;
    width: 100%;
    border-radius: 15px;
    margin: 5px;
}

#header td {
    cursor: pointer;
}

#header table {
    margin-left: 0px;
    padding: 5px;
}

#header td {
    margin: 5px, 0px, 5px, 0px;
}

#content {
    flex: 1;
    display: flex;
    padding: 5px;
    width: 100%;
    position: relative;
    z-index: 0;
}

#genre {
    width: 20%;
    background-color: aquamarine;
    height: 800px;
}

#genre h2 {
    padding: 5px;
}

#genre table {
    padding: 10px;
}

#genre td {
    padding: 5px;
    cursor: pointer;
}

#mainContent {
    width: 80%;
    background-color: #495867;
    overflow: auto;
    height: 800px;
    z-index: 1;
}

#mainContent h2 {
    padding: 5px;
}

#mainContent table {
    padding: 10px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    background-color: white;
}

#mainContent td {
    padding: 20px;
    cursor: pointer;
    text-align: center;
}

#mainContent td img {
    width: 250px;
    height: 250px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 60px;
    justify-content: center;
    align-items: center;
}


.modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.modal-content h2 {
    margin-top: 0;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Reserve Button */
.reserve-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.reserve-btn:hover {
    background-color: #0056b3;
}

#footer {
    background-color: #495867;
    width: 100%;
    height: 150px;
    border-radius: 15px;
    padding: 5px;
    position: relative;
    z-index: -1;
}

#iunThumbnail {
    height: 100px;
    width: 100px;
}

#buttonsPic {
    border-radius: 15px;
}


#footer td {
    width: 5%;
    text-align: center;
}